:root {
  --bg-primary: #0a0a12;
  --bg-secondary: #10101e;
  --red: #db0a40;
  --red-glow: rgba(219,10,64,0.3);
  --text-primary: #f0f0f5;
  --text-secondary: #8888aa;
  --border: #1e1e3a;
}

/* BASE */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);
}

/* Glow anim */
.bg-glow {
  position: fixed;
  top: -300px;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 700px;
  background: radial-gradient(ellipse, var(--red-glow) 0%, transparent 70%);
  animation: glowMove 18s ease-in-out infinite alternate;
  z-index: 0;
}

@keyframes glowMove {
  0% { transform: translateX(-50%) translateY(0px); opacity: 0.6; }
  100% { transform: translateX(-55%) translateY(-40px); opacity: 1; }
}

/* HEADER */
.header {
  text-align: center;
  padding: 80px 20px 30px;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  color: var(--red);
  text-transform: uppercase;
}

.title span {
  color: var(--text-primary);
  text-shadow: 0 0 40px var(--red-glow);
}

/* CONTENT */
.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  position: relative;
  z-index: 1;
}

/* LEVEL 1 */
.level-1 {
  margin-top: 40px;
}

.level-1-title {
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--red);
  margin-bottom: 10px;
}

/* LEVEL 2 */
.level-2 {
  margin-left: 20px;
  margin-top: 20px;
}

.level-2-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-primary);
}

/* LEVEL 3 */
.level-3 {
  margin-left: 40px;
  margin-top: 15px;
}

.level-3-title {
  font-size: 0.95rem;
  font-weight: 700;
  color: var(--text-secondary);
}

/* TEXT */
.level-text {
  margin-top: 6px;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #cfcfe8;
}


.back-button {
  position: fixed;
  top: 30px;
  left: 30px;
  padding: 10px 16px;
  background: var(--bg-secondary);
  border: 1px solid var(--border);
  color: var(--text-primary);
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  z-index: 999;
  transition: all 0.2s ease;
}

/* hover */
.back-button:hover {
  color: var(--red);
  border-color: var(--red);
  box-shadow: 0 0 12px var(--red-glow);
  transform: translateY(-1px);
}

/* click effect */
.back-button:active {
  transform: scale(0.95);
}


.search-box {
  text-align: center;
  margin: 60px 0;
  margin: 20px;
}
.search-box input {
  width: 300px;
  padding: 10px;
  background: var(--bg-secondary);
  border: 1px solid var(--border);
  color: white;
  border-radius: 6px;
}
.highlight {
  background: rgba(219,10,64,0.25);
  border-radius: 4px;
  padding: 1px 3px;
}
.no-result {
  text-align: center;
  color: var(--red);
  font-size: 2rem;
  margin-top: 20px;
  text-transform: uppercase;
  display: none;
}



/* Footer */
.footer {
  text-align: center;
  margin: 60px 0;
  font-size: 11px;
  color: var(--text-secondary);
}
