
/* =========================
   BASE
========================= */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--bg-primary);


  /*background-image: url("../../database/images/haromszog.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
  




  color: var(--text-primary);
}



body::before {
  content: "";
  position: fixed;
  inset: 0;

  background: url("../../database/images/veglegeshatter2.png");
  
  background-size: cover;
  background-position: center;

  background-blend-mode: multiply;

  opacity: 0.3;
  z-index: -1;
}
body.light::before {
  content: "";
  position: fixed;
  inset: 0;

  background: url("../../database/images/veglegeshatter2_light.png");

  background-size: cover;
  background-position: center;

  background-blend-mode: multiply;

  opacity: 0.6;
  z-index: -1;
}






/* =========================
   BACKGROUND GLOW
========================= */
.bg-glow {
  position: fixed;
  top: -250px;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
  height: 600px;
  background: radial-gradient(ellipse, var(--color-accent-glow) 0%, transparent 70%);
  z-index: 0;
  pointer-events: none;
}



/* =========================
   HEADER
========================= */
.header {
  text-align: center;
  padding: 70px 20px 30px;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: var(--color-accent);
  text-transform: uppercase;
  color: transparent;
  background:
    linear-gradient(
      110deg,
      #db0a40 0%,
      #db0a40 40%,
      #ff8a8a 50%,
      #ffb3b3 52%,
      #ff8a8a 54%,
      #db0a40 60%,
      #db0a40 100%
    );
  background-size: 200% 100%;
  background-position: 100% 0;
  background-clip: text;
  animation:
    textSweepLine 10s linear infinite;
}

.title span {
  color: var(--text-primary);
  /*text-shadow: 0 0 40px var(--color-accent-glow);*/
}

.subtitle {
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 0.3em;
  color: var(--text-secondary);
}


/* =========================
   FOOTER
========================= */
.footer {
  text-align: center;
  margin: 40px 0;
  font-size: 11px;
  color: var(--text-secondary);
}

